[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uwsgi = "*"
flask = "*"
flask-login = "*"
flask-wtf = "*"
flask-principal = "*"
flask-pymongo = "*"
pytz = "*"

[dev-packages]
pytest = "*"
pymongo = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
