[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uwsgi = "*"
flask = "*"
flask-security = "*"
flask-login = "*"
flask-wtf = "*"
flask-principal = "*"
flask-mongoengine = "*"
pytz = "*"
werkzeug = "*"
bcrypt = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
mongoengine = "*"
pre-commit = "*"
"e1839a8" = {path = ".", editable = true}

[requires]
python_version = "3.6"
