{% extends "base.html" %}
{% block title %}Administrator{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block body %}
  <style type="text/css">
    table {
        color: #444;
        font-family: Helvetica, Arial, sans-serif;
        width: 640px;
        border-collapse:
        collapse; border-spacing: 0;
    }

    td, th { border: 1px solid #CCC; height: 30px; }

    th {
        background: #F3F3F3;
        font-weight: bold;
        text-align: center;
    }

    td {
        background: #FAFAFA;
        text-align: center;
    }
  </style>
<div class="row">
    <div class="col">
      <h2>Prioritized Participant List</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <table>
            <tr>
                <th>
                    Priority
                </th>
                <th>
                    Vulnerability Score
                </th>
                <th>
                    Last Check-in
                </th>
                <th>
                    HMIS ID
                </th>
                <th>
                    Age
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Disabled
                </th>
                <th>
                    Veteran
                </th>
            </tr>
            {% for ranked_participant in ranked_participants %}
                <tr>
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ ranked_participant.rank }}
                    </td>
                    <td>
                        {{ ranked_participant.participant.checkin_datetime }}
                    </td>
                    <td>
                        {{ ranked_participant.participant.hmis }}
                    </td>
                    <td>
                        {{ ranked_participant.participant.age }}
                    </td>
                    <td>
                        {{ ranked_participant.participant.gender }}
                    </td>
                    <td>
                        {{ ranked_participant.participant.disability_status }}
                    </td>
                    <td>
                        {{ ranked_participant.participant.veteran }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}


