{% extends "base.html" %}
{% block title %}Registration {% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block body %}
<hr>
<div class="row">
    <div class="col" >
        <div class="alert alert-danger" role="alert"><h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> <b>Warning! You Need to Register</b></h4></div>
    </div>
</div>
<div class="row">
    <div class="col">
      <p>We're sorry, but you need to register to get an HMIS ID.</p>
      <p>Contact us at: 555-555-5555</p>
    </div>
</div>
{% endblock %}
